/* =================== BODY ================== */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: auto;
  background-color: #FDFDFD;
  font-family: 'Comfortaa', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h3 {
  color: #ff8a80;
}
/* =========================================== */
/* ================== LINKS ================== */
a {
  color: #f44336;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* =========================================== */
/* ============= FORK ME ON GITHUB =========== */
.octicon {
  color: #FDFDFD;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
/* =========================================== */
/* ============= WRAPPER+CONTENT ============= */
.wrapper {
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.content {
  display: table-row;
  vertical-align: middle;
}
/* =========================================== */
/* ================== TITLE ================== */
.title {
  vertical-align: top;
  font-size: 10vw;
  font-family: 'Lobster';
  margin-bottom: 1vw;
  text-align: center;
  display: table-row;
  vertical-align: top;
  color: #f44336;
  transition: text-shadow 2s;
  text-shadow: 3px 2px 0 #ABABAB;
}
/* =========================================== */
/* =================== TIP =================== */
.tip {
  margin-top: 2vw;
  font-size: 4vw;
  text-align: center;
  display: inline-block;
  color: #ff8a80;
}
.tip h3 {
  padding: 1vw;
  background-color: #EAEAEA;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  box-shadow: 2px 5px 0 #ABABAB;
  -webkit-box-shadow: 0 2px 5px 0 #ABABAB;
  -moz-box-shadow: 0 2px 5px 0 #ABABAB;
  -o-box-shadow: 0 2px 5px 0 #ABABAB;
}
/* =========================================== */
/* ================ QUICKGUIDE =============== */
.quickguide {
  height: 20vw;
  text-align: center;
  display: inline-block;
  color: #f44336;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: inset 0 0 10px 0 #ABABAB;
  -webkit-box-shadow: inset 0 0 10px 0 #ABABAB;
  -moz-box-shadow: inset 0 0 10px 0 #ABABAB;
  -o-box-shadow: inset 0 0 10px 0 #ABABAB;
}
.quickguide h1 {
  font-size: 5vw;
  text-shadow: 3px 2px 0 #ABABAB;
  padding: 3vw;
}
/* =========================================== */
/* ============= KEYCODEDISPLAY ============== */
.keycodeDisplay {
  height: 20vw;
  text-align: center;
  display: none;
  color: #f44336;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: inset 0 0 10px 0 #ABABAB;
  -webkit-box-shadow: inset 0 0 10px 0 #ABABAB;
  -moz-box-shadow: inset 0 0 10px 0 #ABABAB;
  -o-box-shadow: inset 0 0 10px 0 #ABABAB;
}
.keycodeDisplay h1 {
  font-size: 15vw;
  padding: 1vw;
}
/* =========================================== */
/* =============== KEYBOARDKEY =============== */
.keyboardKey {
  margin-top: 2vw;
  font-size: 4vw;
  text-align: center;
  display: none;
  color: #ff8a80;
}
.keyboardKey h3 {
  padding: 1vw;
  background-color: #EAEAEA;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  box-shadow: 2px 5px 0 #ABABAB;
  -webkit-box-shadow: 0 2px 5px 0 #ABABAB;
  -moz-box-shadow: 0 2px 5px 0 #ABABAB;
  -o-box-shadow: 0 2px 5px 0 #ABABAB;
}
/* =========================================== */
/* ================ KEYCODENUM =============== */
.keycodeNum {
  text-shadow: 4px 3px 0 #ABABAB;
}
/* =========================================== */
/* ================== ABOUT ================== */
.about {
  display: table-row;
  font-size: 3vw;
  vertical-align: bottom;
}
.about p {
  margin: 2vw;
}
/* =========================================== */

/* =========================================== */
/* ========== min-aspect-ratio: 8/5 ========== */
/* =========================================== */
@media screen and (min-aspect-ratio: 8/5) {
  /*//TITLE//*/
  .title{
    font-size: 8vw;
  }
  /*//KEYBOARDKEY//*/
  .keyboardKey {
    margin-top: 1vw;
    font-size: 1vw;
  }
  /*//TIP//*/
  .tip {
    margin-top: 1vw;
    font-size: 1vw;
  }
  /*//ABOUT//*/
  .about {
    font-size: 1.5vw;
  }
}
/* =========================================== */
