/* =================== BODY ================== */
body, html {
    text-align: center;
    max-width: 800px;
    margin: auto;
    background-color: #FDFDFD;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    height: 100%;
    overflow: hidden;
}

h3 {
    color: #8c9eff;
}
/* =========================================== */

/* ================ CONTAINER ================ */
.container {
    display: flex;
    flex-direction: column;
}
/* =========================================== */

/* ============= KEYCODEDISPLAY ============== */
.display {
    order: 1;
    color: #3f51b5;
    max-height: 25rem;
}
.display h1 {
  font-size: 10em;
}
.display p {
    /*padding: auto;
    margin: auto;*/
    font-size: 5rem;
}

@media screen and (max-aspect-ratio: 8/5 ) {
    .display h1 {
        font-size: 7rem;
      }
    .display p {
        font-size: 3.5rem;
    }
}
/* =========================================== */

/* =============== KEYBOARDKEY =============== */
.key {
    order: 2;
    color: #8c9eff;
}

.key h3 {
    display: inline-block;
    padding: 1em;
    background-color: #EAEAEA;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 2px 5px 0 #ABABAB;
    -webkit-box-shadow: 0 2px 5px 0 #ABABAB;
    -moz-box-shadow: 0 2px 5px 0 #ABABAB;
    -o-box-shadow: 0 2px 5px 0 #ABABAB;

}
/* =========================================== */
/* ================== TITLE ================== */
.title {
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 3rem;
    color: #3f51b5;
    transition: text-shadow 2s;
    text-shadow: 3px 2px 0 #ABABAB;
}
/* =========================================== */

/* ================== ABOUT ================== */

.about {
    order: 3;
}
/* =========================================== */

/* ================== LINKS ================== */
a {
    color: #3f51b5;
    text-decoration: none;
}

a:hover {
  color: #1a237e;
    text-decoration: underline;
}
/* =========================================== */

/* ============= FORK ME ON GITHUB =========== */
.octicon {
    color: #FDFDFD;
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
/* =========================================== */
